/*--------TEST v4.4---------*/

ul.products li.product:hover .product-inner {
    box-shadow: none!important;
}

.mc-search-bar button {
    padding: 16px;
    margin: -3px -4px -3px 10px;
}

.nav.navbar-nav {
    display: block!important;
}

.nav.navbar-nav li:last-child {
    border: none!important;
}

.mc-breadcrumb li a {
    padding: 12px 10px !important;
}

.mc-breadcrumb li.le-le-dropdown {
    display: none!important;
}

.laempresa-valores p {
    line-height: 20px!important;
    font-size: 13px!important;
}

.laempresa-acerca-de p {
    font-size: 20px!important;
    line-height: 35px!important;
}

#sidebar>.secondary {
    margin-left: 12px!important;
}

.woocommerce-product-gallery__image img {
    height: inherit!important;
    border: 1px solid #e0e0e0;
}

.woocommerce-loop-product__title {
    font-size: 19px!important;
    line-height: 23px!important;
    text-align: center!important;
}

.section-page-title {
    margin: 0!important;
}

.page-title {
    text-align: left!important;
    margin: 0!important;
    padding: 0 0 10px 25px!important;
    color: #159CC9!important;
    font-weight: 700!important;
}

.main-contentpadding: 0!important;

}
.section h2 {
    font-weight: 900!important;
    font-size: 26px!important;
}
.page-header .page-title {
    font-size: 26px!important;
    font-weight: 900!important;
}
.inner-xs {
    padding: 0 0 12px 0!important;
}
.products.enable-hover .product:hover {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.05)!important;
}
.dropdown-menu-mini-cart .buttons .button:first-child {
    margin-left: 0!important;
}
.dropdown-menu-mini-cart .buttons .button {
    padding: 7px 15px!important;
}
.dropdown-menu-mini-cart .buttons {
    padding: 11px 3px;
}
#footer .footer-bottom-widget-area .menu>li,
#footer .footer-bottom-widget-area .widget-title+ul>li {
    padding: 0!important;
    margin: 0!important;
}
.tagcloud a {
    color: #adadad!important;
    line-height: 15px!important;
    font-size: 14px!important;
}

.tagcloud a:hover {color: #159cca!important; }

.wpcf7 form {padding: 0 25px!important;}
.wpcf7 form label span { width: 100%!important; }
.wpcf7 form label { padding: 15px 0 2px;}
.wpcf7 form input { width: 100%!important; }
.wpcf7 form textarea { width: 100%!important; }

.entry-content .wpcf7-form .wpcf7-text, .entry-content .wpcf7-form .wpcf7-textarea, .wpcf7-form .wpcf7-text, .wpcf7-form .wpcf7-textarea { width: 100%!important; }
#top-megamenu-nav .nav > li > a:hover, #top-megamenu-nav .nav > li > a:focus { color:#138ab3; }

/*a.home { content: "Inicio"!important;}*/

.woocomerce-form input[type="checkbox"]{ width:20px; }
.woocomerce-form input[type="text"], .woocomerce-form input[type="password"]{  width:20%;  border:3px solid #c6c6c6;}

.home-page-tabs .nav-tabs li { width: auto!important;}

.product-brand {
    text-align: center;}

/*.sidebar .product-filters .widgets .widget { padding-bottom: 0px!important;}*/
.sidebar .product-categories li>a { padding: 2px 0!important;}
.woocommerce-products-header {padding: 0!important;}

.sidebar h4.widget-title { font-weight: 700!important;}

.widget_price_filter .price_slider_amount .button {
    color: #666!important;
    background: #FFF!important;
    padding: 5px 0!important;
}

.widget_price_filter .ui-slider .ui-slider-handle {background-color: #159cca!important; border-color: #29285b !important;}

 
/*
.entry-content li.product .product-inner>a .product-thumbnail-wrapper>img, .products div.product .product-inner>a .product-thumbnail-wrapper>img, li.product .product-inner>a .product-thumbnail-wrapper>img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: inherit!important; 
    left: 0!important;
    right: 0!important;
    -webkit-transform: inherit!important;
    -moz-transform: inherit!important;
    -ms-transform: inherit!important;
    -o-transform: inherit!important;
    transform: inherit!important;
    border: 1px solid #ececec;
    border-right: none!important;
}


.entry-content li.product .product-inner>a .product-thumbnail-wrapper, .products div.product .product-inner>a .product-thumbnail-wrapper, li.product .product-inner>a .product-thumbnail-wrapper {
    position: relative!important;
    height: 284px!important;
    margin: -35px -35px 10px -35px!important;
}
*/
#payment .terms input {
    margin:inherit!important;
    margin-left: 0!important;
    margin-right: 10px;
    position: relative!important;
}
.checkout button[type="submit"] {width: 100%!important; margin: 20px 0;}

header .top-cart-row {
    padding: 32px 0 0 21px!important;
}

.ribbon span {color:#FFF!important;}

.related {display: none!important;}

.breadcrumb-nav-holder.minimal .mc-breadcrumb>li>a, .breadcrumb-nav-holder.minimal .mc-breadcrumb>li>span {
    background-color: transparent!important;
}
.search-field {background: transparent!important;}

.nav.navbar-nav { text-align: center!important; }
.nav>li {
    display: inline-block!important;
    float: none!important;
}

#breadcrumb-alt .container { text-align: center!important; }
.breadcrumb-nav-holder { float: none!important; }
#breadcrumb-alt {height: 41px; }
/*------RESPONSIVIDAD-----------*/
@media (max-width: 767px) {
    .mc-search-bar .input-group .input-group-addon {
        display: block;
        width: inherit!important;
        border-left: 0;
        border-top: none!important;
        height: inherit!important;
        position: inherit!important;
    }
    
    header .top-cart-row {
    padding: 20px 0 0 0px!important;
}
    
    .navbar-collapse.in {overflow: hidden!important;}
    
    .mc-search-bar .input-group .input-group-addon button {
        right: 0!important;
        top: -47px!important;
    }
    
    .mc-search-bar button {
        padding: 15px 15px 16px 15px;
    }
    
    .search-field {
        background-color: transparent!important;
    }
    
    /*.tp-revslider-mainul {height: 177px!important;}*/
    
    
    #slide-4-layer-1 { 
        font-size: 30px!important;
        margin-left: -100px!important;
    }
    
    #slide-4-layer-2 { 
        display: none!important;
    }
    #slide-4-layer-1 { 
        font-size: 30px!important;
        margin-left: -100px!important;
        margin-top: 20px;
    }
    
    .entry-content li.product .product-inner>a .product-thumbnail-wrapper, .products div.product .product-inner>a .product-thumbnail-wrapper, li.product .product-inner>a .product-thumbnail-wrapper{
        margin: 0!important;
    }
    .entry-content li.product .product-inner>a .product-thumbnail-wrapper, .products div.product .product-inner>a .product-thumbnail-wrapper, li.product .product-inner>a .product-thumbnail-wrapper img{
        border: none!important;
    }
    
    .mc_banner .banner-text h3.banner-title, .banner .banner-text .banner-title, .wpb_wrapper h3 {font-size: 25px!important;}
    
    header .top-cart-row .top-cart-holder .dropdown-menu {
        width: 340px!important;
        left: -120px!important;
    }
    
    .footer-logo img { width: 250px!important; height: auto!important; }
    .footer-bottom-widget-area .columns {width:100%!important; }
    
    .copyright {font-size: 10px!important;}
    
    #top-megamenu-nav .navbar-nav>li .dropdown-menu>li>a {
    padding: 8px 28px!important;
    }
}




.entry-content li.product .product-inner>a, .products div.product .product-inner>a, li.product .product-inner>a {
    background: #FFF!important;
}