/*===================================================================================*/
/*  Shopping Cart Page
/*===================================================================================*/

.woocommerce-cart {
    .cart-empty {
        font-size: 3.125em;
        line-height: 1.4em;
        padding: 135px 0 15px 0;
        color: #434343;
        margin-bottom: 16px;
        text-align: center;
    }

    .return-to-shop {
        padding-bottom: 40px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 28px;
        text-align: center;

        .wc-backward {
            &::before {
                content: "\f112";
                font-family: fontawesome;
                padding-#{$end}: 10px;
            }
        }
    }

    .wc-proceed-to-checkout {
        .checkout-button {
            width: 100%;
            padding: 15px 14px;
            text-align: center;
        }
    }

    .shop_table.cart {
        @include make-xs-column(12);
        display: block;
        margin: 14px 0 20px 0;

        th {
            color: #747474;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 20px;
            padding-top: 15px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e0e0e0;
        }

        thead, tbody, tr, th, td {
            display: block;
        }

        thead, tbody, tr {
            @extend .clearfix;
        }

        tr {
            @include make-row();
            position: relative;

            &.cart_item {
                border-bottom: 1px solid #E0E0E0;
                padding: 27px 0 24px;

                .product-thumbnail {
                    padding: 0;
                }
            }

            > td {
                border-top: none;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .amount {
            font-weight: 700;
            font-size: 18px;
        }

        .product-remove {
            position: absolute;
            #{$end}: 0;

            .remove {
                font-size: 20px;
                color: #81807f;
            }
        }

        .product-thumbnail {
            width: 75px;
            float: $start;

            img {
                border: 1px solid #E0E0E0;
            }
        }

        .product-name {
            @include make-sm-column(4);
            @include make-xs-column(12);

            a {
                line-height: 15px;
                text-transform: capitalize;
                font-weight: 700;
                color: #0e53a5;
            }

            dl.variation {
                margin-bottom: 0;

                dt, dd, dd > p {
                    font-size: 14px;
                    line-height: 20px;
                    float: $start;
                    margin: 0;
                }

                dt {
                    padding-#{$end}: 5px;
                }
            }
        }

        .product-price {
            @include make-hidden-xs;
            @include make-sm-column(2);
        }

        .product-quantity {
            @include make-xs-column(6);
            @include make-sm-column(3);

            .le-quantity {
                border: none;
                padding: 0;

                input {
                    width: 30px;
                }
            }
        }

        .product-subtotal {
            @include make-xs-column(6);
            @include make-sm-column(2);
        }

        .actions {
            @include make-row();
            padding: 80px 0 0 0;

            text-align: #{$end};

            .coupon {
                @include make-xs-column(12);
                @include make-sm-column(6);
                text-align: #{$start};

                label {
                    display: none;
                }

                .input-text {
                    background-color: #ececec;
                    border: none;
                    color: #3d3d3d;
                    padding: 15px 14px;
                    font-size: 13px;
                    line-height: 20px;
                    border-radius: br-values(5px 0 0 5px);
                    width: 60%;
                }

                input[type="submit"] {
                    border-radius: br-values(0 5px 5px 0);
                    padding: 15px 14px;
                    margin-#{$start}: -5px;
                }
            }

            > input[type="submit"] {
                @include make-xs-column(12);
                @include make-sm-column(2);
                @include make-sm-column-offset(1);
                padding: 15px 34px;
                background-color: #e0e0e0;
                color: #3d3d3d;
                font-weight: 100;



                &:hover {
                    background-color: #ececec;
                }
            }

            > input[type="submit"] {
                display: inline-block;
                float: none;
                margin-#{$start}: 0;
                //width: auto;
            }

            .wc-proceed-to-checkout {
                @include make-xs-column(12);
                @include make-sm-column(3);
            }

            .wc-proceed-to-checkout {
                display: inline-block;
                float: none !important;
            }
        }
    }

    .cross-sells {
        @include make-sm-column(12);
        @include make-md-column(6);
    }

    .cross-sells + .cart_totals {
        @include make-md-column-offset(1);
    }

    .cart_totals {
        @include make-sm-column(12);
        @include make-md-column-offset(7);
        @include make-md-column(5);
        padding: 80px 0;

        > h2 {
            display: none;
        }

        table {
            th {
                color: #434343;
                font-size: 14px;
                text-transform: uppercase;
            }

            .amount {
                font-weight: bold;
            }

            tr.shipping {
                .woocommerce-shipping-calculator {
                    display: none;
                }

                > td > p {
                    margin: 0;
                    line-height: 20px;
                    font-size: 14px;
                }

                > td, th {
                    padding-bottom: 23px;
                }
            }

            > tbody > tr > td,
            > tbody > tr > th {
                padding: 7px 0;
                border: none;
                line-height: 16px;
            }

            > tbody > tr > td {
                text-align: $end;
            }

            > tbody > tr > th {
                min-width: 150px;
            }

            > tbody > tr:first-child > td,
            > tbody > tr:first-child > th {
                padding-top: 0;
            }

            > tbody > tr.order-total > td,
            > tbody > tr.order-total > th {
                padding: 24px 0;
                border-bottom: 1px solid #E0E0E0;
                border-top: 1px solid #E0E0E0;
            }

            > tbody > tr.order-total .amount {
                font-size: 25px;
                line-height: 25px;
            }
        }

        .wc-proceed-to-checkout {
            display: none;
        }
    }

    .shipping-calculator-button {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        color: #434343;
        font-weight: bold;

        &:after {
            padding-#{$start}: 5px;
            content: "\f150";
            font-family: fontawesome;
        }
    }
}
