html#ecwid_html {
	body#ecwid_body {
		.ecwid {
			font-size: 15px !important;
   			color: $text-color !important;

   			a{
   				font-size: 14px !important;
   			}

   			.ecwid-btn--secondary {
   				background: #e0e0e0 !important;
   				border-radius: 4px !important;
   				color: #3d3d3d !important;
                font-weight: 100;
                padding: 15px 34px !important;
                border: none !important;
                font-size: 15px !important;
                box-shadow: none !important;

                &:hover {
                    background: #ececec !important ;
                }

                &.ecwid-btn--addMore,
				&.ecwid-btn--openBag {
					padding: 7px 10px !important;
					font-size: 13px !important;
				}

				&.ecwid-btn--secondary-inverse  {
					background: transparent !important;
				}

				&.ecwid-btn--register_popup_button {
					color: #fff !important;
				}
   			}

   			.ecwid-btn--primary {
   				padding: 15px 34px !important;
				border-radius: 4px !important;
				font-size: 15px !important;
			    font-weight: 700 !important;
			    line-height: 20px !important;
			    text-transform: capitalize;
			    box-shadow: none !important;
			}
		}


		div.ecwid-productBrowser-auth {
			text-align: #{$start} !important;
			margin: 10px 0 !important;

			a {
				color: $content-color !important;
			}
		}

		div.ecwid-minicart-mini-rollover {
			border: 1px solid #e0e0e0 !important;
		}

		.ecwid-minicart-mini-overlay-count, 
		.ecwid-minicart-mini-items, 
		div.ecwid-minicart-mini-total {
			color: $text-color !important;
		}

		div.ecwid-minicart-mini-total {
			font-weight: 700 !important;
		}

		div.ecwid-productBrowser-head {
			color: #3d3d3d !important;
		    font-size: 28px !important;
		    font-weight: 500 !important;
		    letter-spacing: -1px;
		    line-height: 52px;
		}

		.ecwid-reset-password-page,
		.ecwid-Checkout {
			.ecwid-productBrowser-head {
				padding: 40px 0;
				color: $title-color !important;
			    font-size: 40px !important;
			    line-height: 50px;
			    margin-bottom: 0 !important;
			    text-align: $start;
			    float: none !important;
			    margin-#{$end}: 0 !important;
			}
		}

	    .ecwid-productBrowser-productsTable-v2 div.ecwid-productBrowser-productNameLink a, 
		.ecwid-productBrowser-productsList-v2 div.ecwid-productBrowser-productNameLink a, 
		.ecwid-productBrowser-productsGrid-v2 div.ecwid-productBrowser-productNameLink a,
		.ecwid-Invoice-itemsTable-cell div.ecwid-productBrowser-productNameLink a {
			display: inline-block;
		    font-size: 15px !important;
		    font-weight: 700 !important;
		    line-height: 19.5px !important;
		    width: 100% !important;

		    &,
		    &:hover,
		    &:focus {
		    	color: #1257ab !important;
		    }
		}

		div.ecwid-productBrowser-productNameLink a, 
		div.ecwid-productBrowser-productNameLink a:active, 
		div.ecwid-productBrowser-productNameLink a:visited {
			text-decoration: none !important;
		}

		div.ecwid-productBrowser-sku,
		span.ecwid-productBrowser-cart-weight,
		div.ecwid-productBrowser-cart-optionsList,
		div.ecwid-Invoice-optionsList {
			color: #3d3d3d !important;
			font-size: 14px;

		}

		div.ecwid-productBrowser-price {
			color: #28124a !important;
			font-weight: 700 !important;
			font-size: 18px !important;
		}

		div.ecwid-productBrowser-backgroundedPanel {
			background: $second-color !important;
		}


		.ecwid-productBrowser-productsList-productRow,
		.ecwid-productBrowser-productsGrid-cellTop,
		.ecwid-productBrowser-productsGrid-cellMiddle,
		.ecwid-productBrowser-productsGrid-cellBottom  {
			position: relative !important;
		}

		.ecwid-productBrowser-productsList-separatorRow,
		.ecwid-productBrowser-productsGrid-label {
			position: relative !important;

			div.ecwid-productBrowser-productDragLabel,
			div.ecwid-productBrowser-productDragLabel-invisible {
				position: absolute !important;
				display: block !important;
				width: 100%;
				@include transition(all 0.3s ease);
				#{$end}:: 8px !important;
			}
		}

		.ecwid-productBrowser-productsGrid-label {

			div.ecwid-productBrowser-productDragLabel,
			div.ecwid-productBrowser-productDragLabel-invisible {
				top: 4px !important;
				
			}
		}

		label.ecwid-fieldLabel,
		.ecwid-reset-password-page-textbox-note {
			display: inline-block;
			width: 100% !important;
			float: none !important;
			color: $content-color !important;
			font-size: 16px !important;
			line-height: 28px;
			font-weight: 700 !important;
			margin-top: 0 !important;
			margin-bottom: 5px !important;

		}

		.ecwid-fieldEnvelope .ecwid-fieldEnvelope-around,
		.ecwid-FormPopup-fieldWrapper {
			input,
			textarea {
				border-radius: 3px !important;
			    background-color: #ececec !important;
			    border: 1px solid transparent !important;
			    color: #3d3d3d !important;
			    padding: 10px !important;
			    @include transition(all 0.3s ease);
			    width: 100%;
			     box-sizing: border-box;
			     -webkit-box-sizing:border-box;
			     -moz-box-sizing: border-box;
			}

			select {
				border-radius: 3px !important;
			    background-color: #ececec !important;
			    border: 1px solid transparent !important;
			    min-height: 45px !important;
			    height: 45px;
			}			
			
		}

		span.gwt-RadioButton input {
			width: auto !important;
		}
		
	}
}
