html#ecwid_html {
	body#ecwid_body.chameleon {

		.ecwid-productBrowser-productsTable-table {
			width: 100% !important;
		}

		div.ecwid-productBrowser-productsTable {
			padding: 0 !important;
		}

		td.ecwid-productBrowser-productsTable-cellOdd {
			background: rgb(255, 255, 255) !important;
		}

		td.ecwid-productBrowser-productsTable-cell {
			border: 1px solid #e0e0e0 !important;
		}

		div.ecwid-productBrowser-productsTable {
			div.ecwid-productBrowser-sku {
				color: #4f4f4f !important;
				font-size: 15px !important;
			}

			div.ecwid-productBrowser-productsTable-addToBagLink{
				border-radius: 4px;
			    font-weight: bold;
			    padding: 10px 20px;
			    display: inline-block;
			    line-height: 20px;
			    border: none;
			    font-size: 15px;
			    color: #fff;
			    text-transform: capitalize;
			    @include transition(all 0.3s ease);
			}
		}
	}
}