html#ecwid_html {
	body#ecwid_body {
		div.ecwid-productBrowser.ecwid-productBrowser-CartPage {
			div.ecwid-productBrowser-head {
				font-size: 40px !important;
			  	font-weight: 400 !important;
			  	color: $title-color !important;
			  	padding: 40px 0;
			  	text-align: center;
			}

			div.ecwid-productBrowser-productNameLink a {
				color: #0e53a5 !important;
			    font-weight: 700 !important;
			    line-height: 15px !important;
			    text-transform: capitalize;
			}

		
			.ecwid-productBrowser-cart-qtyTextField {
				background-color: transparent !important ;
			    border: 1px solid #e0e0e0 !important;
			    border-radius: 5px !important;
			    text-align: center !important;
			    padding: 5px !important;/*10px*/
			    color: #3d3d3d !important;
			    @include transition(all 0.3s ease);
			    
			}

			.ecwid-productBrowser-cart-optionsList-name,
			.ecwid-productBrowser-cart-weight {
				font-weight: 400 !important;
			}

			div.ecwid-productBrowser-cart-optionsList {
				padding-top: 0 !important;

				.ecwid-productBrowser-cart-optionsList-value {
					font-weight: 700 !important;
				}

				.ecwid-btn--secondary.ecwid-btn--changeOptions {
					padding: 5px 11px !important;
					font-size: 13px !important;
				}
			}
		}

		table.ecwid-productBrowser-cart-itemsTable {
			tr {
				@include make-row();
            	position: relative;
			}
		}
		
		td.ecwid-productBrowser-cart-itemsTable-headerCell,
		td.ecwid-Invoice-itemsTable-headerCell {
			color: $content-color !important;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 20px;
            padding: 15px 12px 30px !important;
            border-bottom: 1px solid #e0e0e0 !important;
            font-weight: 700 !important;

		}

		// td.ecwid-productBrowser-cart-itemsTable-headerCell-descr,
		// td.ecwid-productBrowser-cart-itemsTable-cell-descr  {
		// 	width: 60% !important;
		// 	display: inline-block;
		// }

		// td.ecwid-productBrowser-cart-itemsTable-headerCell-qty,
	 //    td.ecwid-productBrowser-cart-itemsTable-cell-qty,
	 //    td.ecwid-productBrowser-cart-itemsTable-headerCell-price,
	 //    td.ecwid-productBrowser-cart-itemsTable-cell-price {
		// 	width: 20% !important;
		// 	display: inline-block;
		// }

		.ecwid-productBrowser-cart-itemsTable-row-selected,
		.ecwid-productBrowser-cart-itemsTable-cell-selected {
			border-bottom: none !important;
		}

		// td.ecwid-productBrowser-cart-itemsTable-headerCell,
		// td.ecwid-productBrowser-cart-itemsTable-cell {
		// 	&.ecwid-productBrowser-cart-itemsTable-headerCell-descr,
		// 	&.ecwid-productBrowser-cart-itemsTable-cell-descr {
  //           	@include make-sm-column(6);
  //           	@include make-xs-column(12);
  //           }
        

  //           &.ecwid-productBrowser-cart-itemsTable-headerCell-thumbnail,
  //           &.ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
  //           	width: 75px;

  //           }

  //          	&.ecwid-productBrowser-cart-itemsTable-headerCell-qty,
  //          	&.ecwid-productBrowser-cart-itemsTable-cell-qty {
		// 		@include make-xs-column(6);
	 //            @include make-sm-column(2);
		// 	}

		// 	&.ecwid-productBrowser-cart-itemsTable-headerCell-price,
		// 	&.ecwid-productBrowser-cart-itemsTable-cell-price {
		// 		@include make-hidden-xs;
	 //            @include make-sm-column(2);
		// 	}


		// 	&.ecwid-productBrowser-cart-itemsTable-headerCell-subtotal,
		// 	&.ecwid-productBrowser-cart-itemsTable-cell-subtotal {
		// 		@include make-xs-column(3);
	 //            @include make-sm-column(2);

		// 	}

		// }

		td.ecwid-productBrowser-cart-itemsTable-cell {
			padding: 27px 0 24px !important;
			border-bottom: 1px solid #e0e0e0 !important;

			&.ecwid-productBrowser-cart-itemsTable-cell-thumbnail {
				padding-#{$end}: 15px !important;
			}

			&.ecwid-productBrowser-cart-itemsTable-cell-price, 
			&.ecwid-productBrowser-cart-itemsTable-cell-subtotal {
				text-align: center !important;
			}

		}


		td.ecwid-Invoice-itemsTable-cell-thumbnail,
		td.ecwid-productBrowser-cart-itemsTable-cell {
		  	img {
		  		border: 1px solid #E0E0E0 !important;
		  	}
		}

		div.ecwid-productBrowser-cart-EnterCouponBox {
			margin: 80px 0 !important;
			padding: 12px 0 !important;
			background: transparent !important;

			div.ecwid-productBrowser-cart-EnterCouponBox-couponCodeLabel {
				color: #3d3d3d !important;
			    font-size: 14px !important;
			    line-height: 40px !important;
			    vertical-align: middle !important;
			}

			.gwt-TextBox {
				background-color: #ececec !important;
			    border: medium none;
			    border-radius: 5px 0 0 5px !important;
			    color: #3d3d3d !important;
			    font-size: 13px;
			    line-height: 20px;
			    padding: 13px 14px !important;/*15px 14px;*/
			    width: 200px !important;
			}
		}

		.ecwid-btn.ecwid-btn--secondary.ecwid-btn--apply {
		   border-radius: 0 5px 5px 0 !important;
		   margin-#{$start}: -5px;
		   padding: 14px 34px !important;/*15px 14px;*/
		   color: #fff !important;
		   font-size: 15px;
		   font-weight: 700;
		   border: none !important;

		}

		div.ecwid-productBrowser-cart-subtotalLabel,
		div.ecwid-productBrowser-cart-shippingLabel, 
		div.ecwid-productBrowser-cart-taxLabel,
		div.ecwid-productBrowser-cart-totalLabel {
			color: $title-color !important;
            font-size: 14px !important;
            text-transform: uppercase;
            line-height: 16px !important;
		}

		.ecwid-productBrowser-backgroundedPanelInner, 
		div.ecwid-productBrowser-cart-subtotalAmount,
		div.ecwid-productBrowser-cart-subtotalAmountMinus, 
		div.ecwid-productBrowser-cart-shippingAmount, 
		div.ecwid-productBrowser-cart-taxAmount {
			color: #301c53 !important;
			font-weight: 700 !important;
			line-height: 16px !important;
		}

		.ecwid-productBrowser-cart, 
		div.ecwid-productBrowser-cart-totalAmount {
			color: #301c53 !important;
			font-weight: 700 !important;
			line-height: 25px !important;
			font-size: 25px !important;
		}

		table.ecwid-productBrowser-cart-totalAmountPanel td {
			padding: 24px 0 !important;

			.ecwid-productBrowser-cart-totalLabel {
				line-height: 25px !important;
			}
		}

		div.ecwid-productBrowser-cart-termsCheckbox {
			color: $text-color !important;
		}

		.ecwid-productBrowser-cart-termsCheckbox.ecwid-productBrowser-cart-termsCheckbox-rollover {
			opacity: 0.5;

		}

		.ecwid-btn--primary{
			&.ecwid-btn--checkout {
				padding: 15px 34px !important;
				border-radius: 4px !important;
				font-size: 15px !important;
			    font-weight: 700 !important;
			    line-height: 20px !important;
			    text-transform: capitalize;
			    box-shadow: none !important;
			}
		}

		div.ecwid-productBrowser-cart-chooseLocationPopup-deliveryMethodLabel {
			color: #3d3d3d !important;
		}
		 		
	}

}